.wrapper {
  padding: 0 10px;
  min-height: 90px;

  background-color: #fff;
  border-radius: 8px;

  margin: 10px;
}

.item {
  max-height: 18px;
  width: 90%;

  padding-left: 12px;
  margin-top: 14px;

  wrap: none;
  resize: none;
}

.label {
  box-sizing: content-box;
  max-width: 30%;
}